/* Définition des variables CSS globales et la durée de l'animation modale */
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}
/* Réinitialisation des styles par défaut pour tous les éléments, en définissant la taille de la boîte, la marge et le padding à 0 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Landing Page */
/* Style pour le corps de la page */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
}

/* Style pour les paragraphes */
p {
    margin-bottom: 0;
    padding: 0.5vw;
}

/* Style pour les images */
img {
    padding-right: 1rem;
}

/* Style pour la barre de navigation en haut */
.topnav {
    margin: 3.5%;
    margin-right: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour le logo dans l'en-tête */
.header-logo img {
    width: 255px;
    height: auto;
}

/* Style pour les liens dans la barre de navigation en haut */
.topnav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

/* Style pour les liens dans la barre de navigation en haut lorsqu'ils sont survolés */
.topnav a:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
}

/* Style pour le lien actif dans la barre de navigation en haut */
.topnav a.active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
}

/* Style pour l'icône dans la barre de navigation en haut, cachée par défaut */
.topnav .icon {
    display: none;
}

/* Style pour l'icône lorsqu'elle est affichée */
a.icon {
    color: #ff0000;
}

/* Style pour le conteneur du menu, positionné relativement et avec une hauteur spécifique */
.menu-wrapper {
    position: relative;
    height: 57px;
}
/* Style pour la barre de navigation principale, affichée en flex */
.main-navbar {
    display: flex;
}
@media screen and (max-width: 768px) {
    /* Réduire la taille du logo dans l'en-tête sur les écrans de petite taille */
    .header-logo img {
        width: 131px;
    }

    /* Position relative pour la barre de navigation en mode responsive */
    .topnav.responsive {
        position: relative;
    }

    /* Style pour le menu en mode responsive */
    .responsive .menu {
        position: absolute;
        top: 5px;
        margin: 3.5%;
        min-width: 200px;
        right: 5px;
        z-index: 10;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    /* Positionnement de l'icône en mode responsive */
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        background-color: transparent;
    }

    /* Style pour les liens de la barre de navigation en mode responsive */
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }
}
@media screen and (max-width: 1060px) {
    /* Cache tous les liens de la barre de navigation sur les écrans de petite taille */
    .topnav a {
        display: none;
    }
    /* Affiche l'icône de la barre de navigation sur les écrans de petite taille et la positionne à droite */
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* Affiche l'icône de la barre de navigation sur les écrans de petite taille et la positionne à droite */
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* Modifie la disposition de la barre de navigation principale sur les écrans de petite taille */
    .main-navbar {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

/* Pour les écrans de taille moyenne (entre 768px et 1060px) */
@media screen and (max-width: 1060px) and (min-width: 768px) {
    /* Position relative pour la barre de navigation en mode responsive */
    .topnav.responsive {
        position: relative;
    }

    /* Style pour le menu en mode responsive */
    .responsive .menu {
        position: absolute;
        top: 5px;
        right: 5px;
        min-width: 200px;
        margin: 3.5%;
        z-index: 10;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    /* Positionnement de l'icône en mode responsive */
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        background-color: transparent;
    }

    /* Style pour les liens de la barre de navigation en mode responsive */
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }
}

/* Pour les écrans de petite taille (moins de 540px) */
@media screen and (max-width: 540px) {
    /* Cache tous les liens de la barre de navigation */
    .topnav a {
        display: none;
    }
}

/* Style pour le contenu principal de la page */
main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
}

/* Style pour le bouton modal */
.modal-btn {
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* Style pour le bouton modal lorsqu'il est survolé */
.modal-btn:hover {
    background: #3876ac;
}

/* Style pour le pied de page */
.footer {
    margin: 20px;
    padding: 10px;
    font-family: var(--font-slab);
}

/* Modal form */

/* Style pour le bouton du modal */
.button {
    background: #fe142f;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

/* Style pour le bouton du modal lorsqu'il est survolé */
.button:hover {
    background: #3876ac;
}

/* Style pour une police de petite taille */
.smFont {
    font-size: 16px;
}

/* Style pour l'arrière-plan du modal, caché par défaut */
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

/* Style pour le contenu du modal */
.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
}

/* Style pour le corps du modal */
.modal-body {
    padding: 15px 8%;
    margin: 15px auto;
}

/* Style pour les labels des champs de formulaire */
label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
}
/* Style pour les champs de saisie des formulaires */
input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}
/* Style pour le contrôle de texte dans les formulaires */
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}
/* Style pour afficher les messages d'erreur dans les formulaires, cachés par défaut */
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
/* Style pour afficher les messages d'erreur dans les formulaires lorsqu'une erreur est présente */
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
/* Style pour le contrôle de texte dans les formulaires lorsqu'une erreur est présente */
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}
/* Style pour les messages d'erreur dans les formulaires */
.error {
    font-size: 0.6em;
    color: #e54858;
}

/* Style pour les labels des cases à cocher */
.checkbox-label,
.checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: normal;
}
/* Style pour les icônes des cases à cocher */
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
}
/* Style pour l'état après des icônes des cases à cocher */
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
}
/* Cache l'input de la case à cocher */
.checkbox-input {
    display: none;
}
/* Style pour l'état coché des cases à cocher */
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
}
.checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
}
/* Style pour le bouton de fermeture */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
}
/* Mise en forme du bouton de fermeture */
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
/* Style pour les boutons de soumission et d'inscription */
.btn-submit,
.btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}
/* custom select styles */
/* Style pour le conteneur du select personnalisé */
.custom-select {
    position: relative;
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: normal;
}

/* Cache le select par défaut */
.custom-select select {
    display: none;
}
.select-selected {
    background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 13px;
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-bottom-color: #f00;
    border-left-color: #f00;
    transform: rotate(-48deg);
    border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    transform: rotate(135deg);
    top: 13px;
}

/* Style pour les éléments de la liste déroulante et l'élément sélectionné */
.select-items div,
.select-selected {
    color: #000;
    padding: 11px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 8px;
    height: 48px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: 89%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
    font-weight: normal;
    font-size: 16px;
}
/* Style pour la section héroïque, qui occupe 100% de la hauteur et est divisée en 12 colonnes de grille */
.hero-section {
    min-height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
/* Style pour le contenu de la section héroïque, qui occupe 5 colonnes de la grille et a un arrière-plan sombre */
.hero-content {
    padding: 51px 67px;
    grid-column: span 5;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
}
/* Ajoute un arrière-plan sombre à l'élément après le contenu de la section héroïque */
.hero-content::after {
    content: "";
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
}
/* Assure que tous les éléments directs du contenu de la section héroïque sont positionnés relativement et ont un z-index de 1 */
.hero-content > * {
    position: relative;
    z-index: 1;
}
/* Style pour le titre de la section héroïque, qui a une grande taille de police et un poids de police normal */
.hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
}
/* Réduit la taille de la police du titre de la section héroïque sur les écrans de moins de 1060px */
@media screen and (max-width: 1060px) {
    .hero-headline {
        font-size: 4rem;
    }
}
/* Style pour le texte de la section héroïque, qui occupe 100% de la largeur et a une petite taille de police */
.hero-text {
    width: 100%;
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 57px;
    padding: 0;
}
/* Style pour le bouton d'inscription, qui a une taille de police moyenne et une marge supérieure */
.btn-signup {
    outline: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 0;
    margin-top: 59px;
}
/* Style pour l'image de la section héroïque, qui occupe 7 colonnes de la grille */
.hero-img {
    grid-column: span 7;
}
/* Assure que l'image de la section héroïque occupe 100% de la largeur et de la hauteur */
.hero-img img {
    min-width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}
/* Style pour les droits d'auteur, qui ont une couleur rouge et une taille de police petite */
.copyrights {
    color: #fe142f;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
}
/* Cache le bouton d'inscription à l'intérieur de la section héroïque */
.hero-section > .btn-signup {
    display: none;
}

/* Style pour le conteneur de succès, qui est centré et occupe 70% de la hauteur de la fenêtre */
.success {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Style pour le conteneur du bouton de fermeture, qui est positionné en bas et centré */
.close-button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style pour le pied de page, avec un padding horizontal et une marge */
footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
}
/* Styles spécifiques pour les écrans de moins de 800px de large */
@media screen and (max-width: 800px) {
    /* La section héroïque est affichée en bloc et n'a pas d'ombre */
    .hero-section {
        display: block;
        box-shadow: unset;
    }
    /* Le contenu de la section héroïque a un arrière-plan blanc et une couleur de texte noire */
    .hero-content {
        background: #fff;
        color: #000;
        padding: 20px;
    }
    /* L'élément après le contenu de la section héroïque n'a pas de contenu */
    .hero-content::after {
        content: unset;
    }
    /* Le bouton d'inscription à l'intérieur du contenu de la section héroïque est caché */
    .hero-content .btn-signup {
        display: none;
    }
    /* Le titre de la section héroïque a une taille de police plus petite et un espace blanc normal */
    .hero-headline {
        font-size: 2rem;
        white-space: normal;
        margin-top: -2rem;
    }
    /* Le texte de la section héroïque a une largeur non définie, une taille de police plus petite et une marge supérieure */
    .hero-text {
        width: unset;
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    /* L'image de la section héroïque a un rayon de bordure et une marge supérieure */
    .hero-img img {
        border-radius: 10px;
        margin-top: 1rem;
    }
    /* Le bouton d'inscription à l'intérieur de la section héroïque est affiché avec une marge et un padding spécifiques */
    .hero-section > .btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px 35px;
    }
    /* Les droits d'auteur ont une marge supérieure et sont centrés */
    .copyrights {
        margin-top: 1rem;
        text-align: center;
    }
}

/* Animation pour l'ouverture de la modale, qui commence avec une opacité de 0 et une translation vers le haut, et finit avec une opacité de 1 */
@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}
